.header-top {
  background-color: var(--color-c);
  padding: clamp(10px, 1.316vw, 20px) 0;
  transition: .2s;
  @media screen and (max-width: 1024px) {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    justify-content: space-between;

  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 15px clamp(40px, 5vw, 76px);
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav {
    flex-shrink: 0;
  }

  &__nav-item {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 0.987vw, 15px);
    line-height: 100%;
    color: var(--color-d);
    position: relative;
    padding: 0 calc(clamp(15px, 2.303vw, 35px) / 2);

    .opener {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    @media screen and (max-width: 1240px) {
      padding: 0 10px;
    }

    @media screen and (max-width: 1024px) {
      position: relative;
      width: 100%;
      padding: 0;

      .opener {
        position: absolute;
        right: 0;
        top: 4px;
        transition: all .4s;

        &.active {
          transform: scaleY(-1);
        }
      }

    }

    a {
      display: flex;
      align-items: center;
      grid-gap: 10px;

      svg {
        flex-shrink: 0;
        fill: var(--color-e);
        transition: all .4s;

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }

      @media screen and (max-width: 1024px) {
        align-items: flex-start;
      }
    }

    &:hover {
      color: var(--color-f);

      & > a {
        svg {
          transform: scaleY(-1);
        }
      }

      .sub-list {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__valute {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 0.987vw, 15px);
    line-height: 110%;
    color: var(--color-g);
  }

  &__value {
    font-weight: 500;
    color: var(--color-h);
  }

  &__download {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 0.987vw, 15px);
    line-height: 110%;
    text-decoration-line: underline;
    color: var(--color-f);
  }
}










