.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 980px;
  grid-gap: 20px;

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(25px, 2.632vw, 40px);
    line-height: 125%;
    color: var(--color-j);
    padding-bottom: 24px;
    position: relative;

    &::before {
      @include psevdo;
      height: 4px;
      width: 90%;
      bottom: 0;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-i);
    }

    @media screen and (max-width: 576px) {
      br {
        display: none;
      }
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 1.053vw, 16px);
    line-height: 162%;
    color: var(--color-j);

    span {
      color: var(--color-i);
    }
  }
}
