.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &.swiper-button-disabled {
    pointer-events: none;

    svg {
      opacity: .5;
    }
  }

  svg {
    transition: fill .4s ,  transform .2s;
    fill: var(--default-slider-btn);
  }

  &:hover,
  &:active {
    svg {
      fill: var(--active-slider-btn);
    }
  }

  &:active {
    svg {
      transform: scale(1.2);
    }
  }
}
