.sub-list {
  left: 0;
  z-index: 4;
  top: 100%;
  background-color: var(--color-c);
  transition: all .4s;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    border-top: clamp(10px,1.316vw,20px) solid transparent;
  }


  &__item {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 0.987vw, 15px);
    line-height: 110%;
    color: var(--color-d);
    padding: 0 calc(clamp(15px, 2.303vw, 35px) / 2);
    height: 42px;
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    transition: all .4s;

    &:hover {
      color: #3671D4;
    }

    @media screen and (max-width: 1240px) {
      padding: 0 10px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #EEF0F5;
    }
  }
}
