.primary-link {
  background: var(--primary-link-bg);
  border-radius: 100px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(15px, 1.184vw, 18px);
  line-height: 100%;
  color: var(--color-a);

  @include dfc;
}
